doctype html
html
    head
        title= title
        block link
            link(rel='stylesheet', href='/stylesheets/style.css')
        block script
    body
        block content
        block main_body